
body{
    color: rgb(56, 50, 50);;
    background-color:rgb(111, 212, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
}

.main-section{
    background-color:rgb(111, 212, 230);
    margin-top: 50px;
    text-align: center;
    height: 100%;
}

.heading {
    background-color: rgb(56, 50, 50);
    color: aliceblue;
    height: 80px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin-top: 80px;
    font-size: 1.8rem;
}

.para{
    padding-top: 30px;
    line-height: 2.8rem;
    font-size: 1.4rem;
}

.guess-num{
    padding-top: 10px;
    font-size: 1.8rem;
}

input{
    height: 45px;
    width: 300px;

}

button {
    color: aliceblue;
    background-color: rgb(56, 50, 50);;
    margin-top: 50px;
    height: 50px;
    width: 280px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.remain{
    font-size: 1.4rem;
}
#submit:hover{
    cursor: pointer;
}

.msg {
    margin-top: 50px;
    font-size: 1.6rem;
}